.nav-bar {
  display:flex;
  margin:10px;
  align-items: center;
}

.nav-bar .bb-name {
  text-decoration: none;
  font-family:Montserrat;
  color:#564832;
  font-weight: bold;
  font-size:18px;
}

.menu-logo{
  margin-left: auto;
}

.menu-logo-img{
  width:40px;
}

img {
  max-width:100%;
}

.homepage-pictures{
  width:100%;
  height:400px;
  object-fit: cover;
}

.container-for-tag{
  position:relative;
}

.tag{
  position:absolute;
  float:left; 
  font-family:Lora;
  font-size:12px;
  background-color: white;
  padding:5px;
  border-radius:12px;
  text-decoration: none;
  color:#564832;
}

.booking-tag{
  left:10px;
  top:300px;
}

.price-tag{
  left:10px;
  top:250px;
}

.arrow-left{
  position:absolute;
  float:left; 
  left:0px;
  top:200px;
}
.arrow-right{
  position:absolute;
  float:right; 
  right:0px;
  top:200px;
}

.description-text{
  font-size:14px;
  font-family:Lora;
  font-style: italic;
  text-align: center;
}

.footer{
  background-color:#564832 ;
  color:white;
  font-size: 14px;
  font-family: Lora;
  font-weight: bold;
  text-align: center;
}

.menu-item-div {
  background-color:#564832 ;
  margin-top:5px;
  margin-bottom:5px;
  padding:10px;
  font-size: 12px;
  font-family: Lora;
  font-weight: bold;
}

.menu-item{
  text-decoration: none;
  color:white;
}

.form-field-item{
  display:flex;
  margin:10px;
}

.form-field-item-label{
  background-color: #564832;
  color: white;
  font-family: Montserrat;
  font-size:12px;
  margin-right:10px;
  padding:10px;
  width:30%;
}

.form-field-item-input{
  border:1px solid;
  border-color:#564832 ;
  width:70%;
}

.div{
  text-align: center;
}

.button{
  color:#564832 ;
  font-weight: bold;
  font-size:18px;
  text-decoration: none;
}

.booking-button{
  background-color: #564832 ;
  color:white ;
  font-weight: bold;
  font-size:18px;
  text-decoration: none;
  padding:5px;
  margin-top:10px;
  margin-bottom:10px;
}

.message{
  margin:10px;
}

.booking-guide{
  margin:10px;
  font-size:14px;
  font-family: Lora;
}

table {
  table-layout: fixed;
  width:100%
}

th {
  white-space:nowrap;
}

table .td1{
  width:35%
}

td,tr {
  white-space:nowrap;
}

ul{
  list-style-type: none;
}

.booking-field{
  margin:0 auto;
  text-align: center;
}

input {
  width:95%;
  height:80%;
}

textarea {
  width:95%;
  height:90%;
}